.DS_Store
.DS_Store?
Thumbs.db

client/Library/*
client/[Tt]emp/
client/[Oo]bj/

client/*.csproj
client/*.pidb
client/*.sln
client/build

!client/Library/metadata
!client/Library/AssetImportState
!client/Library/AssetServerCacheV3
!client/Library/FailedAssetImports.txt
!client/Library/ScriptAssemblies
!client/Library/ScriptMapper
!client/Library/assetDatabase3
!client/Library/cache
!client/Library/expandedItems
!client/Library/previews
!client/Library/guidmapper
!client/Library/*.asset
!client/Library/unity default resources
!client/Library/unity editor resources
!client/Library/assetservercachev3
!client/Library/AssetVersioning.db
!client/Library/ScriptAssemblies/

protocol/*.pb
protocol/*.cs

*.o
*.lo
*.pb.cc
*.pb.h
*.la
*.log
external/protobuf-2.5.0/src/unittest_proto_middleman
external/protobuf-2.5.0/src/.libs/
external/protobuf-2.5.0/src/protoc
